<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="d-flex justify-content-center h-100">
<div class="card">
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Логин</span>
						</div>
            <%= form.text_field :login %>
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Пароль</span>
						</div>
            <%= form.text_field :password %>
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Фамилия</span>
						</div>
            <%= form.text_field :last_name %>
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Имя</span>
						</div>
            <%= form.text_field :first_name %>
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Отчество</span>
						</div>
            <%= form.text_field :middle_name %>
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Дата рождения</span>
						</div>
            <%= form.date_select :birthdate, :start_year=>Date.today.year - 100,:end_year=>Date.today.year %>
					</div>
					<div class="form-group">
             <%= form.submit "Отправить" %>
					</div>
				</form>
			</div>
		</div>
    </div>

    <% end %>