<p id="notice"><%= notice %></p>

<h1>Авторы</h1>

<table class="table table-primary">
  <thead>
    <tr>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.password %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.middle_name %></td>
        <td><%= user.birthdate %></td>
        <td><%= link_to '<i class="fa fa-search"></i>'.html_safe, user %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_page_path(user) %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать нового автора', new_user_path %>
