<p id="notice"><%= notice %></p>

<p>
  <strong>Логин:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Пароль:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Отчество:</strong>
  <%= @user.middle_name %>
</p>

<p>
  <strong>Дата рождения:</strong>
  <%= @user.birthdate %>
</p>

<%= link_to 'Изменить', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
