<p id="notice"><%= notice %></p>

<h1>События</h1>

<table class="table table-primary">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Дата события</th>
      <th>Описание</th>
      <th>Тип</th>
      <th>Линия времени</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.create_datetime %></td>
        <td><%= event.description %></td>
        <td><%= event.event_type %></td>
        <td><%= event.timeline.title %></td>
        <td><%= link_to '<i class="fa fa-search"></i>'.html_safe, event %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_page_path(event) %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, event, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новое событие', new_event_path %>
