<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Дата события:</strong>
  <%= @event.create_datetime %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Линия времени:</strong>
  <%= @event.timeline.title %>
</p>

<%= link_to 'Новое событие', new_event_path %>
<%= link_to 'Изменить', edit_event_path(@event) %> |
<%= link_to 'Назад', events_path %>
