<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Ключевые слова:</strong>
  <%= @page.keywords %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Контент:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Дата создания:</strong>
  <%= @page.create_datetime %>
</p>
