<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @timeline.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @timeline.description %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @timeline.user.login %>
</p>

<div class="qa-message-list" id="wallmessages">
<% @events.sort_by(&:create_datetime).each do |event| %>
<div class="message-item" id="m16">
						<div class="message-inner">
							<div class="message-head clearfix">
								<div class="avatar pull-left">

                <% if event.event_type == 1 %>
                  <img src="https://tasvel.ru/wp-content/uploads/Ikonka-MTS.png">
                <% else %> 
                  <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                <% end %>

                </div>
								<div class="user-detail">
									<h5 class="handle"><%= event.title %></h5>
									<div class="post-meta">
										<div class="asker-meta">
											<span class="qa-message-what"></span>
											<span class="qa-message-when">
												<span class="qa-message-when-data"><%= event.create_datetime %></span>
											</span>
											<span class="qa-message-who">
												<span class="qa-message-who-pad">by </span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="qa-message-content">
								<%= event.description %>
							</div>
							<div><%= link_to 'Изменить', edit_event_path(event) %></div>
					</div></div>
    <% end %>	
</div>